* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.title2 {
  font-size: 4em;
  margin-bottom: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: cadetblue;
  letter-spacing: 4px;
  color: white;
}
.title3 {
  padding: 10px 50px;
  margin-left: auto;
  background: darkkhaki;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
